table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
  font-family: "Times New Roman", Times, serif;
}

th,
td {
  border: 1px solid black;
}
tr {
  text-align: center;
}

.A {
  background-color: darkgray;
}

.a {
  background-color: rgb(153, 214, 91);
  text-align: left;
}
.b {
  text-align: left;
}
.c {
  text-align: right;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-align: center;
}
